
# --- Blosxom configuration (perl syntax) -----

# What's this blog's title?
$blog_title = "Nagios Alerts";

# What's this blog's description (for outgoing RSS feed)?
$blog_description = "Alerts from the inferno";

# What's this blog's primary language (for outgoing RSS feed)?
$blog_language = "en";

# What's this blog's text encoding ?
$blog_encoding = "UTF-8";

# Where are this blog's entries kept?
$datadir = "/var/log/nagios/blog/posts";

# What's my preferred base URL for this blog (leave blank for automatic)?
$url = "";

# Should I stick only to the datadir for items or travel down the
# directory hierarchy looking for items?  If so, to what depth?
# 0 = infinite depth (aka grab everything), 1 = datadir only, n = n levels down
$depth = 0;

# How many entries should I show on the home page?
$num_entries = 100;

# What file extension signifies a blosxom entry?
$file_extension = "txt";

# What is the default flavour?
$default_flavour = "html";

# Should I show entries from the future (i.e. dated after now)?
$show_future_entries = 0;

# --- Plugins (Optional) -----

# File listing plugins blosxom should load
# (if empty blosxom will load all plugins in $plugin_dir and $plugin_path directories)
$plugin_list = "$ENV{BLOSXOM_CONFIG_DIR}/plugin_list.conf";

# Where are my plugins kept?
$plugin_dir = "/var/log/nagios/blog/plugins";

# Where should my plugins keep their state information?
$plugin_state_dir = "/var/log/nagios/blog/state";

# Additional plugins location
# List of directories, separated by ';' on windows, ':' everywhere else
$plugin_path = '';

# --- Static Rendering -----

# Where are this blog's static files to be created?
$static_dir = "/var/lib/blosxom/static";

# What's my administrative password (you must set this for static rendering)?
$static_password = "";

# What flavours should I generate statically?
@static_flavours = qw/html rss/;

# Should I statically generate individual entries?
# 0 = no, 1 = yes
$static_entries = 0;

# ---------------------------------------------

1;

