
# --- Configurable variables -----

# Where should I store the entries_timestamp index file?
# IMO timestamps are metadata rather than state, but you may well not care.
#$config{meta_dir} = "$blosxom::datadir/../meta";
$config{meta_dir} = $blosxom::plugin_state_dir;

# What name should my entries_timestamp index file be called?
# If you want to migrate from entries_index, you can just use the original
# entries_index .entries_index.index file, or or just copy/rename it.
$config{entries_index} = 'entries_timestamp.index';
#$config{entries_index} = '.entries_index.index';

# Reindexing password. If entries_timestamp finds a '?reindex=$reindex_password'
# parameter it will check and resync machine timestamps to the human versions
$config{reindex_password} = 'abracad';    # CHANGEME!

# --------------------------------
