body {
  font-size: 67.5%; /* Resets 1em to 11px */
  font-family: Verdana, Arial, Sans-Serif;
  margin: 10px;
  padding: 0; 
}

.nodisplay { 
  display: none;
}

h1, h2, h3 {
  font-family: Verdana, Arial, Sans-Serif;
  font-weight: bold;
}

h1 {
  font-size: 1.2em;
  margin: 20px 0 5px 0;
  text-align: center;
}
h3 {
  font-size: 1.0em;
  margin: 0px 0 5px 0;
}

p.post {
  padding: 3px;
  margin: 3px 0;
}
p.nav {
  text-align: center;
}

.type, .host, .hostgroup, .service, .servicegroup, .state {
  font-weight: bold;
}
.type {
  padding: 0 2px;
}

#footer {
  margin-top: 25px;
  text-align: center;
}

img {
  border: 0;
  padding: 0 3px;
  margin: 0;
}
